force-app/main/default/flows/Resume_after_pause_test_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>acc_chng</name>
        <label>acc chng</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>Acc.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>this account is inserted after pause</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test_pause</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Dateformula</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+0.5/1440</expression>
    </formulas>
    <interviewLabel>Resume after pause test flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resume after pause test flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>acc_creation</name>
        <label>acc creation</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <inputReference>Acc</inputReference>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>acc_chng</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Acc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Test_pause</name>
        <label>Test pause</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Default</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>acc_creation</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Dateformula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Default</label>
        </waitEvents>
    </waits>
</Flow>
